# Core
numpy>=1.24
pandas>=2.0
scikit-learn>=1.3
joblib>=1.3

# PyTorch & PyG
torch>=2.1
torch-geometric>=3.3
torch-scatter>=2.1
torch-sparse>=0.6
torch-cluster>=1.6
torch-spline-conv>=1.2

# Visualization
plotly>=5.16
matplotlib>=3.8
networkx>=3.1
streamlit>=1.24

# Kafka
kafka-python>=2.1

# Misc
jsonschema>=4.19
